a.nav_btn:hover, .dir_list a:hover{
    background-color: yellow;
}
a.nav_btn, .dir_list a{
    color: black;
    text-decoration: none;
    padding: 0.2em;
}
.dir_list{
    list-style-type: lower-greek;
}

a.nav_btn {
    border: solid black 1pt;
}

.alert{
    color: red;
}

table {
    border-collapse:collapse
} 

tr:nth-child(even){
    background: #dae5f4;
}

tr:nth-child(odd){
    background: #b8d1f3;
}

th, td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-right: solid black 3px;
    /*border-left: solid black 3px;
     * */
}

form {
margin-bottom: 1em;
}
#hidden_cdt {
visibility: hidden;
}
h2, #cdt {
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.5em;
    font-weight:bold;
}
